{% extends 'base.html' %}

{% block title %}
    Acerca de nosotros 
{% endblock %}



{% block content %}
 <div class="container-xl", >
 <h1 style="color: green; ">  Nuestra Historia </h1>
 <div style="font-size:22px;">
<p> "En el año 2001, un grupo de médicos comprometidos con brindar una atención integral y de calidad a la comunidad de Mercedes, provincia de Buenos Aires, fundaron el Centro Integral de Especialidades Médicas. Desde entonces, nos hemos esforzado por ofrecer una amplia gama de servicios médicos, desde consultas generales hasta tratamientos especializados, con el objetivo de cubrir las necesidades de salud de nuestros pacientes.
</p>
<p>Nuestro equipo de profesionales altamente capacitados y con experiencia en su área de trabajo se esfuerza por mantenerse actualizado en las últimas tendencias y avances médicos, asegurándose de brindar un servicio de calidad y atención personalizada a cada uno de nuestros pacientes.
</p>
<p>En el Centro Integral de Especialidades Médicas, creemos en la importancia de un enfoque integral y colaborativo en el cuidado de la salud. Por eso, trabajamos en estrecha colaboración con otros profesionales de la salud y especialistas, para brindar un tratamiento integral y completo a nuestros pacientes.
</p>
<p>Nos enorgullece ser una institución respetada y reconocida en la comunidad de Mercedes y en la provincia de Buenos Aires, y estamos comprometidos a seguir brindando un servicio médico excepcional y a mejorar constantemente para cumplir con las expectativas y necesidades de nuestros pacientes. ¡Estamos aquí para cuidar de su salud!"
</p>
</div>

    {% endblock %}